@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.login-page-sm-devices {
  background-color: #e6e8e9;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
}

.facebook-title-sm-devices {
  color: #1877f2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.facebook-headline-sm-devices {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.facebook-title-sm-devices {
  color: #1877f2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size:50px;
  
}

.facebook-headline-sm-devices {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  
}

.login-form-sm-devices {
  width: 400px;
  height: 300px;
}

.login-card-sm-devices {
     height:320px;
     width:400px;
     border-radius:10px;
} 







