 @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


/* Styles for medium and above devices*/
.login-page {
  background-color: #e6e8e9;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
}

.title-section-md-devices {
  margin-top: 200px;
}

.facebook-title-md-devices {
  color: #1877f2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size:50px; 
  margin-left:150px; 
}

.facebook-headline-md-devices {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 148px;
}

.login-card {
  height:340px;
  width:400px;
  border-radius:10px;
} 

.login-button {
   font-size:20px;
}

